.btn {
  background-color: rgb(255, 175, 24);
  border: 0;
  box-sizing: border-box;
  color: rgb(56, 36, 0);
  cursor: pointer;
  display: inline-block;
  font-family: "MullerBold", serif;
  font-size: 16px;
  height: 60px;
  outline: none;
  padding: 22px;
  text-align: center;
  text-decoration: none;
  width: 224px;
}
