<section class="order about">
  <div class="container">
    <div class="" id="paying">
      <div class="order-text-title double-title">
        <span>Лучшая </span>итальянская пиццерия!
      </div>
      <div class="order-text-message">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aperiam architecto, aspernatur, autem eius et
        excepturi laborum magnam maxime, nam nemo odit possimus quis quo sed sint velit voluptas voluptatem.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aperiam architecto, aspernatur, autem eius et
        excepturi laborum magnam maxime, nam nemo odit possimus quis quo sed sint velit voluptas voluptatem.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aperiam architecto, aspernatur, autem eius et
        excepturi laborum magnam maxime, nam nemo odit possimus quis quo sed sint velit voluptas voluptatem.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aperiam architecto, aspernatur, autem eius et
        excepturi laborum magnam maxime, nam nemo odit possimus quis quo sed sint velit voluptas voluptatem.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aperiam architecto, aspernatur, autem eius et
        excepturi laborum magnam maxime, nam nemo odit possimus quis quo sed sint velit voluptas voluptatem.
      </div>
    </div>
    <div class="about-image">
      <img src="../../../../assets/images/pizza_big.png" alt="Pizza">
      <img src="../../../../assets/images/pizza_big.png" alt="Pizza">
    </div>
  </div>
</section>

<app-pop data="about component"></app-pop>
